.yt-timestamp-button {
  color: var(--yt-button-icon-button-text-color, var(--yt-spec-text-secondary));
  cursor: pointer;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}

.yt-timestamp-button:hover {
  color: var(--yt-spec-text-secondary);
}
